ChildProcess/.vs/
ChildProcess/x64/
CPointer/.vs/
CPointer/x64/
CPointer/Release/
PracticeC/.vs/
PracticeC++/.vs/
PracticeC++/Release/
PracticeC++/x64
PracticeC++/Debug/
SystemPrograming/.vs/
SystemPrograming/x64/
C,C++Anything/.vs/
C,C++Anything/Release/
C,C++Anything/x64
C,C++Anything/Debug/
